/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url("https://img.freepik.com/premium-vector/blue-pastel-colorful-gradient-background-templates-design-colorful-concept-light-blue-pink-yellow_293525-1102.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
  }
  
  /* Header styles */
  header {
    background: url("https://4kwallpapers.com/images/wallpapers/shapes-gradient-abstract-light-blue-background-5k-2560x1440-8192.jpg") no-repeat center center fixed; 
    background-size: cover;
    padding: 20px;
  }
  
  /* Navigation styles */
  nav {
    background-color: #03181f;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
  }
  
  /* Section styles */
  section {
    padding: 20px;
  }
  
  /* Footer styles */
  footer {
    background-color: #6986ee;
    padding: 20px;
    text-align: center;
  }